body{
    margin:20px;
    padding:0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    
}
.section{
    border: 3px solid black;
    text-align: center;
    
}

.learn{
  
}